html {
  background-color: #b5838d;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

img {
  border-color: #6d6875;
  border-radius: 15%;
  border-style: dashed;
  margin: 2.5% 5%;
}

td {
  border: 5%;
}

h1.page--title {
  color: #ffcdb2;
}

h2.portfolio--title {
  color: #e5989b;
}

h2.hobby--title,
h3.project--title,
h3.about--me--title {
  color: #ffb4a2;
}

table.pr--table {
  margin: 0 auto;
}

ul.hobbies--list,
ul.game--list {
  list-style: inside;
}

img.mosaic--image {
  width: 320px;
  height: 180px;
}

ul.nav--list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

li.nav--item:last-child {
  border-left: 1px solid white;
}

a.nav--link {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  background-color: #815b5b;
}

.nav--item .nav--link:hover {
  color: #2c3639;
}
