/* Still need 11, 13, 16, 17, G, H */
/* Colors: #181823, #537FE7, #C0EEF2, #E9F8F9 */

html {
  /* Requirement-2.A */
  background-color: #181823; /* Requirement-2.4 */
  font-family: "Open Sans", sans-serif; /* Requirement-2.1 */
  text-align: center;
}

hr {
  flex-grow: 1;
  width: 100%;
}

img {
  border-color: #6d6875; /* Requirement-2.5 */
  border-radius: 15%; /* Requirement-2.10 */
  border-style: inset;
  margin: 2.5% 5%; /* Requirement-2.6 */
}

td {
  border: 5%;
}

p {
  color: #e9f8f9;
  font-size: large;
}

figcaption {
  color: #e9f8f9;
  font-style: italic;
}

tr th {
  color: #c0eef2;
}

tr td {
  color: #e9f8f9;
}

details summary {
  color: #537fe7;
}

.home--body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page--title /* Requirement-2.C */ {
  color: #537fe7; /* Requirement-2.3 */
}

h2.portfolio--title,
h2.hobby--title,
h3.project--title,
h3.about--me--title /* Requirement-2.B */ {
  color: #c0eef2;
}

.intro--text {
  width: 50%;
}

table.pr--table {
  margin: 0 auto;
}

ul.hobbies--list,
ul.game--list,
ul.portfolio--list {
  list-style: inside; /* Requirement-2.8 */
}

img.mosaic--image {
  width: 320px; /* Requirement-2.7 */
  height: 180px; /* Requirement-2.9 */
}

ul.nav--list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Requirement-2.14 */
  display: flex; /* Requirement-2.12 */
  justify-content: center;
}

li.nav--item:last-child /* Requirement-2.E */ {
  border-left: 1px solid white;
}

a.nav--link {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  background-color: #537fe7;
}

.nav--item .nav--link:hover /* Requirement-2.F */ {
  color: #2c3639;
}

div.mosaic--image--container,
div.space--image--container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

/* Creating a more response iframe! */
/* Follows a 16:9 aspect ratio. */
.osu--figure {
  position: relative; /* Requirement-2.15 */
  overflow: hidden;
  width: 100%;
}

.osu--video {
  aspect-ratio: 16/9;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 75%;
  height: 75%;
}

#joe--image /* Requirement-2.D */ {
  clear: none;
}

.game--list li,
.hobbies--list li {
  color: #e9f8f9;
}

.contact--header {
  color: #537fe7;
}
