body {
  background-color: #282c34;
}

.App {
  text-align: center;
}

.header {
  color:#7FFFD4;
}

.ac-villager-name {
  color:indianred;
  font-style: italic;
}

.ac-villager-img {
  border-radius: 25%;
  width: 300px;
  margin: 0px 0px 15px;
}
