/* 
  Colors: #867070, #D5B4B4, #E4D0D0, #F5EBEB
*/

html {
  background-color: #867070;
  font-family: "Montserrat", sans-serif;
}

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

h3 {
  text-align: start;
}

.title {
  color: #d5b4b4;
}

/* .form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
} */

.input-label {
  color: #f5ebeb;
  display: inline-block;
  width: 240px;
  text-align: left;
}

.text-input {
  width: 200px;
  height: 30px;
  border-radius: 7.5px;
}

.input-container {
  margin: 7.5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 500px;
}

.input-btn {
  margin-top: 7.5px;
  width: auto;
  height: 25px;
  position: relative;
}

.input-radio-container,
.input-checkbox-container {
  text-align: start;
}

.input-radio-container input[type="radio"],
.input-checkbox-container input[type="checkbox"] {
  margin: 5px;
  margin-left: 20px;
}
